#services{
    .content{
        .firstSection{
            .container{
                .row {
                    .jst-cov{
                        float: left;
                        width: 100%;
                        padding-bottom: 15px;
                    }
                    .service{
                        .service-box{
                            float: left;
                            min-height: 0;
                            padding: 37px 25px;
                            img{
                                float: left;
                                padding-right: 28px;
                                
                            }
                            .lib{
                                float: left;
                                width: 80%;
                            }
                            h2{
                                margin-top: 2px;
                            }
                            p{
                                margin-bottom: 0;
                                line-height: 24px;
                                font-size: 13.5px;
                            }
                        }
                    }
                }
            }
        }
    }
}