

.row{
    margin-top: 5px;
    
}

h2{
       font-family: 'Raleway', sans-serif;
   color: #383d48;
   line-height: 1;
   
}
.head{
    padding-bottom: 30px;
}
h2>span:first-child{
    font-weight: 400;
    font-size: 18px;
}
h2>span:last-child{
    font-weight: 800;

}
.service{
    height: 222px;
     float: left;
     margin-top: 10px;

}
.clear{
    clear: both;
}
.service-box{
    height: 211px;
    padding: 17px 20px;
        border: 1px solid #e6ebf4;

}

.text>h2{
    font-size: 13.5px;

}
.image{
    float: left;
}
.text{
    float: left;
    
    padding-left: 28px;
    
}
.image>img{
    
    padding-top: 20px;
}
.text>h2{
    font-weight: 800;
    
}
.text>p{
    color: #6e868c;
    margin-top: 12px;
}

.slide{
    height: 330px;
    background: #f0f8ff;
    

}
.slide_text{
   padding:  37px 0 8px 20px;
    background: url(../services/quote-l.png) left top no-repeat , 
			   url(../services/quote-r.png) bottom right no-repeat;
   
}
.slide_text>p{
    font-size: 15px;
    color: #6e868c;
    font-style: italic;
    font-family: 'Lora', serif;

   
}
#client_name{
    line-height: 20px;
}
#client_name>span:first-child{
   font-size: 13.5px;
   color: #6e868c;
   font-weight: normal;
   font-family: 'Lora', serif;

   
}
#client_name>span:last-child{
    font-size: 13.5px;
    color: #6e868c;
    font-weight: 600;
    font-family: 'Lora', serif;
    display: block;
    


}
.circle>div{
    float: right;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    text-align: right;
    background: #dce8f1;
    margin: 0 2px;
    cursor: pointer;
    
}
.bb,.cc,.dd{
    display: none;
}
